.heroBanner {
    border: 5px solid var(--ifm-color-primary);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.heroBanner:hover {
    will-change: transform;
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.heroBanner canvas {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}


/* Estilo do fundo desfocado */
.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fundo escuro e semi-transparente */
    backdrop-filter: blur(5px); /* Efeito de blur no fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Para garantir que o modal fique acima de outros elementos */
  }
  
  /* Estilo do conteúdo do modal */
  .modalContent {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    max-height: 90%;
  }
  
/* Estilo do botão de fechar */
.closeButton {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .heroBanner {
        padding: 0.4em;
    }
}

@media (max-width: 992px) {
    .heroBanner {
        padding: 0.3em;
    }
}

@media (max-width: 768px) {
    .heroBanner {
        padding: 0.2em;
        border-radius: 8px;
    }
}

@media (max-width: 576px) {
    .heroBanner {
        padding: 0.1em;
        border-radius: 6px;
    }
}